.bg_dining1 {
  background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.8)),
    url("https://d10y9s8kntsyn2.cloudfront.net/files/8lf2us1p1-dining1.webp");
  background-size: auto 150vh;
  background-repeat: no-repeat;
  background-position: center;
}
